# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/climate/climate-common/_cmake_debug
/climate/climate-file-io/_cmake_debug
/db/_cmake_debug
/db/db/_cmake_debug
/db/sqlite3/_cmake_debug
/json11/_cmake_debug
/soil/_cmake_debug
/soil/cmake-build-debug
/tools/date/_cmake_debug
/tools/debug/_cmake_debug
/tools/read-ini/_cmake_debug
/zeromq/_cmake_debug
